@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
}

body{
    background-color: #0A373E;
}

header{
    background-image: url('/static/assets/header.svg');
    background-position: center;
    background-size: cover;
    padding: 5vh 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav p{
    font-size: 2rem;
    color: white;
}

nav p span{
    color: gold;
}

.link{
    text-decoration: none;
    color: white;
}

.search{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

input[type='text']{
    height: 36px;
    padding: 0 3rem;
}

.search svg{
    cursor: pointer;
}

.sl{
    background-color: white;
    padding: 7px 14px;
    border-radius: 5px;
    background-color: gold;
}

.sl a{
    text-decoration: none;
    color: #0A373E;
}

.sl a:nth-child(1){
    border-right: 1px solid #0A373E;
    padding-right: 7px;
}

.sl a:nth-child(2){
    padding-left: 7px;
 
}

.quote{
    margin-top: 10vh;
    border-radius: 10px;
    background-color: white;
    width: 40vw;
    padding: 6vh 3vw;
    margin-bottom: 30vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row-12{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    color: wheat;
}

.row-12 .text{
    max-width: 50vw;
    padding: 0 3vw;
}

.row-12:nth-child(2){
    margin-top: 10vh;
    flex-direction: row-reverse;
}

.text:nth-child(2){
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.text a{
    margin-top: 10px;
    background-color: gold;
    color: #0A373E;
    border-radius: 5px;
    padding: 5px 10px;
    width: 10vw;
    text-align: center;
}

#common{
    margin-top: 5vh;
}


@media screen and (max-width: 768px) {

    .search{
        flex-direction: column;
    }

    .search svg{
        display: none;
    }

    .quote{
        width: 80vw;
    }

    .row-12{
        flex-direction: column;
    }

    .row-12 .text{
        max-width: 100vw;

    }

    .row-12:nth-child(2){
        margin-top: 10vh;
        flex-direction: column;
    }
    
    .text a{
        width: 20vw;
    }
}