@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;
}

body{
    background-color: #0A373E;
}

.card{
    background-color: #004C58;
    color: white;
}

.hood-image{
    height: 10rem;
    width: 100%;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .card{
        margin-top: 5vh;
    }
    
    .hood-image{
        height: 15rem;
    }
}