{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOOD CHRONICLES</title>
    {% block styles %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/hood.css' %}">

    {% endblock %}
</head>
<body>
    <nav>
        <div class="container mt-3 mb-3">
        <a class="btn text-warning btn-transparent" href="/neighbourhoods/create/">Add your neighbourhood</a>
        </div>
    </nav>
<hr>
   
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">

                <div class="card">
                    <div class="card-body">
                        <div class="hood-image" style="background-image: url('{{hood.hood_image.url}}');">

                        </div>
                        <h5 class="card-title mt-3">Name: {{ hood.name }}</h5>
                        <p class="card-text mt-3">Admin: <span class="text-warning">{{ hood.admin.user.username }}</span></p>
                    </div>
                </div>

            </div>

            <div class="col-lg-5 offset-lg-1 text-white d-flex flex-column justify-content-center">
                <h4> Occupants population: {{hood.occupants}}</h4>
                <h5 class="mt-3">Active members: 7</h5>
               {% if status == 'Member' %}
               <a href="/neighbourhoods/{{hood.id}}/leave/" class="btn btn-warning mt-5">Leave this hood</a>
               {% else %}
               <a href="/neighbourhoods/{{hood.id}}/join/" class="btn btn-warning mt-5">Join this hood</a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 offset-md-3 offset-md-4">

                <h3 class="text-warning">ACTIVITIES AND EVENTS</h3>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <a href="" class="btn btn-warning">Add a business</a>
            </div>
        </div>
    </div>
    
</body>
</html>