{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOOD CHRONICLES</title>
    {% block styles %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/search.css' %}">

    {% endblock %}
</head>
<body>
    <nav>
        <div class="container mt-3 mb-3">
        <a class="btn text-warning btn-transparent" href="/neighbourhoods/create/">Add your neighbourhood</a>
        </div>
    </nav>
<hr>
    <div class="container-fluid">
 
      {% if results == True %}
      <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4>The Kirigiti Hood</h4>
                <img src="{% static 'assets/k1.jpeg' %}" alt="banner">
            </div>
    
         </div>
       </div>
       {% endif %}
       <div class="container">
            <div class="row">
       {% if all is True %} 
       {% for hood in hoods %}
       <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ hood.name }}</h5>
                <div class="hood-image" style="background-image: url('{{hood.hood_image.url}}');">

                </div>
                <p class="card-text mt-3">Admin: <span class="text-warning">{{ hood.admin.user.username }}</span></p>
                <a href="" class="btn btn-warning">View</a>
            </div>
        </div>
       </div>
       {% endfor %}
       {% endif %}
        </div>
    </div>
    </div>
    
</body>
</html>